/* 아래 차시 학습 시 활용하세요 :)
25. CSS 적용 방법 세번째: style 태그로 적용해보기
26. 나만의 스타일 만들기: class 사용 방법 */

table {
    width: 400px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    color: darkblue;
    font-size: 12px;
    font-family: Gulim;
    text-align: center;
}
th {
    padding: 10px;
    color: #212121;
}
td {
    color: #424242;
}
thead {
    background-color: #BDBDBD;
}
.highlight {
    background-color: #FFECB3;
}